[Unit]
Description=Monad cruft service

[Service]
Type=oneshot
User={{ service_identifier }}
Group={{ project }}
ExecStart=/bin/bash -c '{{ cruft_script_file_path }} 2>/dev/null'
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ cruft_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
