---
- name: Ensure consensus forkpoint file is absent
  ansible.builtin.file:
    path: "{{ consensus_forkpoint_file_path }}"
    state: absent

- name: Download forkpoint from URL
  ansible.builtin.get_url:
    url: "{{ monad.forkpoint_config_url }}"
    dest: "{{ consensus_validators_config_file_path }}"
    owner: "{{ service_identifier }}"
    group: "{{ service_identifier }}"
    mode: "0644"
  notify:
    - Restart service
