---
- name: Create storage partition with monad-mpt
  ansible.builtin.shell: >
    {{ consensus_bin_dir }}/{{ consensus_binaries.monad_mpt.dest_binary_name }}
    --storage /dev/triedb
    --create
  args:
    executable: /bin/bash
  register: mpt_partition_creation
  changed_when: mpt_partition_creation.rc == 0
  failed_when: mpt_partition_creation.rc != 0
  environment:
    LD_LIBRARY_PATH: "{{ consensus_lib_dir }}"

- name: Display monad-mpt storage status
  ansible.builtin.debug:
    msg: "{{ mpt_partition_creation.stdout }}"
