---
- name: Create storage partition with monad-mpt
  ansible.builtin.shell: >
    {{ consensus_bin_dir }}/{{ consensus_binaries.monad_mpt.dest_binary_name }}
    --storage /dev/triedb
    --create
  args:
    executable: /bin/bash
  register: mpt_partition_creation
  changed_when: monad_mpt_output.rc == 0
  failed_when: monad_mpt_output.rc != 0

- name: Display monad-mpt storage status
  ansible.builtin.debug:
    msg: "{{ monad_mpt_output.stdout }}"
