---
- name: Install apt packages
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: true
    cache_valid_time: 3600
  loop:
    - nvme-cli
    - aria2
    - zstd
    - libboost-context1.83.0
    - libboost-fiber1.83.0
    - libboost-stacktrace1.83.0
    - libtbb12
    - liburing2
    - libarchive-dev
    - libbrotli-dev
    - whiptail
    - libhugetlbfs-dev
    - libhugetlbfs-bin
    - libcrypto++-dev

- name: Include Configure Sysctl task
  ansible.builtin.import_tasks: configure_sysctl.yml

- name: Include Add Monad APT Repository task
  ansible.builtin.import_tasks: add_monad_apt_repository.yml

- name: Include Set Hugepages task
  ansible.builtin.import_tasks: set_hugepages.yml

- name: Include Prepare Triedb Loop Disk task
  ansible.builtin.import_tasks: prepare_triedb_loop_disk.yml
  when: setup_triedb_loop | default(false) | bool

- name: Include Prepare Triedb Disk task
  ansible.builtin.import_tasks: prepare_triedb_disk.yml
  when: setup_triedb | default(false) | bool

- name: Insert custom iptables rule into UFW before.rules
  ansible.builtin.blockinfile:
    path: /etc/ufw/before.rules
    marker: "# {mark} ANSIBLE MANAGED: Drop small UDP packets on port 8000"
    insertbefore: "^COMMIT"
    block: |
      -A ufw-before-input -p udp --dport 8000 -m length --length 0:1400 -j DROP

- name: Reload UFW
  community.general.ufw:
    state: reloaded
