#!/bin/bash

log() {
  echo "[$(date +"%Y-%m-%d %H:%M:%S")] $1"
}

# Set your Pushgateway endpoint
PUSHGATEWAY_URL="https://{{ pushgateway_dns }}"
JOB_NAME="chain_exporter"
AUTH_HEADER="Authorization: Basic {{ vault.default.pushgateway.auth_header }}"

log "Fetching triedb usage data"

# Run the monad-mpt command
MPT_OUTPUT=$( /opt/monad-consensus/bin/monad-mpt --storage {{ triedb_config.path }} 2>/dev/null \
  | grep -A 1 'Capacity' \
  | tail -n 1 \
  | tr -d '\r' )

# Extract USED Space
USED_VALUE=$(echo "$MPT_OUTPUT" | awk '{print $3}')
USED_UNIT=$(echo "$MPT_OUTPUT" | awk '{print $4}')

# Extract TOTAL Space
TOTAL_VALUE=$(echo "$MPT_OUTPUT" | awk '{print $1}')
TOTAL_UNIT=$(echo "$MPT_OUTPUT" | awk '{print $2}')

# Function to convert to bytes
to_bytes() {
  local value=$1
  local unit=$2

  case "$unit" in
    Kb|KB) echo "$(echo "$value * 1024" | bc)" ;;
    Mb|MB) echo "$(echo "$value * 1024 * 1024" | bc)" ;;
    Gb|GB) echo "$(echo "$value * 1024 * 1024 * 1024" | bc)" ;;
    Tb|TB) echo "$(echo "$value * 1024 * 1024 * 1024 * 1024" | bc)" ;;
    *) echo 0 ;;
  esac
}

USED_BYTES=$(echo "$(to_bytes "$USED_VALUE" "$USED_UNIT")" | bc | awk '{printf "%d", $1}')
TOTAL_BYTES=$(echo "$(to_bytes "$TOTAL_VALUE" "$TOTAL_UNIT")" | bc | awk '{printf "%d", $1}')

log "Used bytes: $USED_BYTES"
log "Total bytes: $TOTAL_BYTES"

log "Pushing metrics to Pushgateway"
# Push to Prometheus Pushgateway
cat <<EOF | curl --max-time 30 --data-binary @- -H "$AUTH_HEADER" \
"$PUSHGATEWAY_URL/metrics/job/$JOB_NAME/project/{{ project }}/env/{{ env }}"
# TYPE monad_mpt_storage_used_bytes gauge
monad_mpt_storage_used_bytes $USED_BYTES
# TYPE monad_mpt_storage_total_bytes gauge
monad_mpt_storage_total_bytes $TOTAL_BYTES
EOF
