---
- name: Download forkpoint from URL
  ansible.builtin.get_url:
    url: "{{ monad.forkpoint_config_url }}"
    dest: "{{ sync_node_forkpoint_file_path }}"
    owner: "{{ service_identifier }}"
    group: "{{ service_identifier }}"
    mode: "0644"
  notify:
    - Restart service
