---
- name: Include Fetch Snapshot task
  ansible.builtin.include_tasks: reset_workspace.yml

- name: Include Fetch Snapshot task
  ansible.builtin.include_tasks: fetch_snapshot.yml

- name: Set ownership of synced files
  ansible.builtin.file:
    path: "{{ item }}"
    owner: "{{ service_identifier }}"
    group: "{{ project }}"
    recurse: true
  loop: "{{ sync_node_directories }}"
